.fruits {
  padding-bottom: 45px;
  &__box {
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 1100px) {
      flex-wrap: wrap;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    background-color: #f4f6fa;
    border-radius: 10px;
  }
  &__img {
    max-width: 100px;
    height: 100px;
    object-fit: contain;
    margin-bottom: 16px;
  }
  &__title {
    font-weight: 700;
    font-family: 16px;
    line-height: 20px;
    color: #253d4e;
    margin-bottom: 4px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
  }
}
